# macOS
.DS_Store

# Catalyst local state
.catalystrc

# Node
node_modules/

# Android
android/.gradle/
android/build/
android/app/build/
android/local.properties
android/.idea/
android/*.iml
android/app/*.iml
android/captures/
*.apk
*.keystore
